 .nav {    
    display: flex; /*CON ESTO VEO TODOS LOS ELEMENTO DE NAVEGACIÓN EN LÍNEA*/
    gap: 20px;

  }  

  .divGeneralHeader{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;       
  }

  .divMenu{    
    display: flex;
    justify-content: left;
    margin-right: 250px;   
    color: #24479b;
    text-decoration: none;     
  }  

  a {    
    font-weight: bold;        
  }

  .link{
    text-decoration: none;         
  } 
  

  